In [1]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [7]:
a = "Hello,world"
print(a.upper())

HELLO,WORLD

In [8]:
a = "HELLO,WORLD"
print(a.lower())

hello,world

In [10]:
a = "   hello world   "
b = a.strip()
print(a)
print(b)

   hello world
hello world

In [13]:
a = "hello world"
b = a.replace("hello","hi this is")
print(a)
print(b)

hello world
hi this is world

In [14]:
a = "this is chennai supper kings"
b = a.split(" ")
print(a)
print(b)

this is chennai supper kings
['this', 'is', 'chennai', 'supper', 'kings']

In [17]:
a = "hi"
b = "this"
c = "hari krishnan"
print(a+" "+b+" "+c) # string concatenation

hi this hari krishnan

In [20]:
#string format
a = 36
b = "my name is john ,i am" + " "+str(a)
print(b)

my name is john ,i am 36

In [22]:
a = 36
b = "my name is john ,i am {}"
print(b.format(a))  #string format

my name is john ,i am 36

In [24]:
a = 23
b = 22
c = 56
d="hari is {}.kk is{}.jk is{}"
print(d.format(a,b,c))
print(d.format(c,a,a))

hari is 23.kk is22.jk is56
hari is 56.kk is23.jk is23

In [27]:
"""   ESCAPE CHARACTER    """


#txt = "we are the so called "vikings" from the north."
txt = "we are the so called \"vikings \" from the north."
print(txt)

we are the so called "vikings " from the north.

In [28]:
b = {}
count = 1
a = ['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
for i in a:
    b[count] = i
    count = count + 1
print(b)

{1: 'capitalize', 2: 'casefold', 3: 'center', 4: 'count', 5: 'encode', 6: 'endswith', 7: 'expandtabs', 8: 'find', 9: 'format', 10: 'format_map', 11: 'index', 12: 'isalnum', 13: 'isalpha', 14: 'isascii', 15: 'isdecimal', 16: 'isdigit', 17: 'isidentifier', 18: 'islower', 19: 'isnumeric', 20: 'isprintable', 21: 'isspace', 22: 'istitle', 23: 'isupper', 24: 'join', 25: 'ljust', 26: 'lower', 27: 'lstrip', 28: 'maketrans', 29: 'partition', 30: 'replace', 31: 'rfind', 32: 'rindex', 33: 'rjust', 34: 'rpartition', 35: 'rsplit', 36: 'rstrip', 37: 'split', 38: 'splitlines', 39: 'startswith', 40: 'strip', 41: 'swapcase', 42: 'title', 43: 'translate', 44: 'upper', 45: 'zfill'}

In [31]:
a = "HARI Krishnan"
print(a.casefold())

hari krishnan

In [44]:
a = "this is hari krishnan from the chennai. sorry for the disturbance"
print(a)
print(a.capitalize()) # first letter only capital
print(a.title())# each word capital
print(a.count("s"))
print(a.endswith("ce"))
print(a.endswith("cr"))
print(a.find("c"))
print(a.find("h"))
print(a.find("h",9))
print(a.replace("this","tiny star"))

this is hari krishnan from the chennai. sorry for the disturbance
This is hari krishnan from the chennai. sorry for the disturbance
This Is Hari Krishnan From The Chennai. Sorry For The Disturbance
5
True
False
31
1
17
tiny star is hari krishnan from the chennai. sorry for the disturbance
False

In [51]:
# boolean functions
b = "joes"
print(a.isupper())
c = "JOES123"
print(c.isupper())
print(b.islower())
print(c.islower())
print(b.isalnum())
print(b.isalpha())
print(c.isalpha())

False
True
True
False
True
True
False

In [54]:
s = "he\nis\n good"
print(s.splitlines())
print(s.splitlines(True))

['he', 'is', ' good']
['he\n', 'is\n', ' good']

In [64]:
a = "hari krishnan computer education"
print(a.split(" "))
b = "hari,krishnan,computer,education"
print(b.split(","))
a = "    hari   krishnan      "
print(a)
aa= a.strip()
print(len(aa))
ab = "    tut   "
print(ab.lstrip())
print(ab.rstrip())

['hari', 'krishnan', 'computer', 'education']
['hari', 'krishnan', 'computer', 'education']
    hari   krishnan
15
tut
    tut

In [66]:
a = "12-03-2020"
print(a.partition("-"))

au = "aswe sasa"
v = au.swapcase()
print(au)
print(v)

('12', '-', '03-2020')
aswe sasa
ASWE SASA

In [75]:
a = "hello"
b = "welcome to the house"
c = "10.000"
z = "1"
print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))
print(z.zfill(10))

00000hello
welcome to the house
000010.000
0000000001

In [74]:
file  = open("E:\\pop.txt","r")
print(file.read())

HIS JPOJOPJO